/* Datepicker custom styles */
.react-datepicker-wrapper .react-datepicker__input-container input {
    background-color: transparent !important;
    color: white !important;
}

.react-datepicker-popper {
    z-index: 50 !important;
}

.react-datepicker {
    font-family: 'Inter', sans-serif !important;
    background-color: #1E1E1E !important;
    border-color: #333 !important;
    border-radius: 0.75rem !important;
}

.react-datepicker__header {
    background-color: #1E1E1E !important;
    border-bottom: 1px solid #333 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    color: #BB86FC !important;
    font-weight: 500 !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    color: #A9A9A9 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
    background-color: #BB86FC !important;
    color: white !important;
    border-radius: 50% !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
    background-color: #a864f7 !important;
}


.react-datepicker__day:hover {
    background-color: #333 !important;
    border-radius: 50% !important;
}

.react-datepicker__day--disabled {
    color: #555 !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: #BB86FC !important;
    color: white !important;
}

.react-datepicker__navigation-icon::before {
    border-color: #BB86FC !important;
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
    border-color: #a864f7 !important;
}

.react-datepicker__portal {
  background-color: rgba(0, 0, 0, 0.8);
}

